<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- NFC permission -->
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" /> <!-- 네트워크 사용 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCEPT_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HTap"
        tools:targetApi="31">
        <activity
            android:name=".register.FindUserPasswordSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.reservation.Loading.ReservationLoadingActivity"
            android:exported="false"
            android:taskAffinity="kr.co.htap.reservation" />
        <activity
            android:name=".navigation.reservation.TimeSelect.TimePickerActivity"
            android:exported="false"
            android:taskAffinity="kr.co.htap.reservation" />
        <activity
            android:name=".register.FindUserIdActivity"
            android:exported="false" />
        <activity
            android:name=".register.FindUserPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".register.FindUserPasswordAuthActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.NavigationActivity"
            android:exported="true" />
        <activity
            android:name=".register.LoginSuccessTest"
            android:exported="false" />
        <activity
            android:name=".register.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".nfc.view.MyCouponActivity"
            android:exported="false" />
        <activity
            android:name=".nfc.view.NfcIdentificationActivity"
            android:exported="true">
            <!-- NFC 스캔 시 발생하는 Intent를 이 액티비티에서 처리할 수 있도록 필터를 등록합니다. -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="example.com"
                    android:path="/nfcsample"
                    android:scheme="hnfc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nfc.view.NfcCouponActivity"
            android:exported="true">

            <!-- NFC 스캔 시 발생하는 Intent를 이 액티비티에서 처리할 수 있도록 필터를 등록합니다. -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="example.com"
                    android:path="/nfcsample1"
                    android:scheme="hnfc" />
            </intent-filter>
        </activity>
    </application>

</manifest>